body {
    /* used to align content in the center */
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    color: #ffffff;
    background-color: #121213;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin: 0;
}

hr {
    margin-bottom: 1vw;
}
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3vw;
    width: 20vw;
    height: 2vw;

    color: #ffffff;
    background-color: #30302e;
    border: solid 2px #3f3f3f;
}

button:hover {
    color: #ffffff;
    background-color: #000000;
}


/* style for the board itself */
#board {
    /* creates 6 rows so that each guess has its own line */
    display: grid;
    grid-template-rows: repeat(6, 1fr);

    justify-items: center;
}

#letterBoard {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    margin-left: auto;
    margin-right: auto;

    font-size: 1.5vw;
    text-align: center;
    padding: 0.4vw;

    border: 2px solid #818384;
}

#row1,#row2,#row3 {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}


#userGuess {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    height: 2vw;
    width: 20vw;
}

.bankLetter {
    margin: 0;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
}

/* style for each cell of the board */
.letter {
    /* align blocks together to represent the 5 letter guess with black border and content aligned to center */
    display: inline-block;
    width: 5vw;
    height: 5vw;
    border: 2px solid #2f2f30;
    font-size: 5vw;
    line-height: 1vw;
    text-align: center;
    align-content: center;
    margin: 0;
}

@media screen and (max-width: 1600px){
    .letter {
        width: 7vw;
        height: 7vw;
        font-size: 7vw;
    }
    #letterBoard {
        font-size: 1.7vw;
    }
    #userGuess {
        height: 3vw;
        width: 30vw;
    }
    button {
        border-radius: 5vw;
        width: 30vw;
        height: 3vw;
    }
}

@media screen and (max-width: 1000px){
    .letter {
        width: 10vw;
        height: 10vw;
        font-size: 10vw;
    }
    #letterBoard {
        font-size: 3vw;
    }
    #userGuess {
        height: 4vw;
        width: 30vw;
    }
    button {
        border-radius: 5vw;
        width: 30vw;
        height: 4vw;
    }
}


@media screen and (max-width: 800px){
    .letter {
        width: 12vw;
        height: 12vw;
        font-size: 12vw;
    }
    #letterBoard {
        font-size: 5vw;
    }
    #userGuess {
        height: 4vw;
        width: 40vw;
    }
    button {
        border-radius: 6vw;
        width: 40vw;
        height: 6vw;
    }
}

@media screen and (max-width: 600px){
    .letter {
        width: 14vw;
        height: 14vw;
        font-size: 14vw;
    }
    #letterBoard {
        font-size: 6vw;
    }
    #userGuess {
        height: 5vw;
        width: 50vw;
    }
    button {
        border-radius: 6vw;
        width: 50vw;
        height: 9vw;
    }
}

